.empty,
.handContainer,
.handContainer::after,
.handContainer::before,
.winner {
    border-radius: 50%;
}

.empty,
.handContainer {
    width: 160px;
    height: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: auto;
    vertical-align: top;
}

.empty {
    background: rgba(0,0,0,0.1);
}

.handContainer::before {
    background-image: linear-gradient(0, var(--cor-cinza-degrade1), var(--cor-cinza-degrade2));
    box-shadow: inset 0 6px 0 var(--cor-cinza-sombra);
    inset: 18px;
}

.handContainer::before,
.handContainer::after {
    content: '';
    position: absolute;
}

.handContainer::after {
    inset: 0;
}

.handContainer svg,
.handContainer img {
    z-index: 1;
}

.winner {
    box-shadow: 0 4px 0 30px rgba(118,136,214,0.1),0 4px 0 60px rgba(118,136,214,0.1),0 4px 0 90px rgba(118,136,214,0.1);
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
}

/* .handContainer {
    background-image: linear-gradient(0, var(--cor-pedra-degrade2), var(--cor-pedra-degrade1));
}
.handContainer::after {
    box-shadow: 0 8px 0 var(--cor-pedra-sombra), 0 8px 15px rgba(0,0,0,0.5);
} */

/*.handContainer__paper {
    background-image: linear-gradient(0, var(--cor-papel-degrade2), var(--cor-papel-degrade1));
}
.handContainer__paper::after {
    box-shadow: 0 8px 0 var(--cor-papel-sombra), 0 8px 15px rgba(0,0,0,0.5);
}

.handContainer__scissors {
    background-image: linear-gradient(0, var(--cor-tesoura-degrade2), var(--cor-tesoura-degrade1));
}
.handContainer__scissors::after {
    box-shadow: 0 8px 0 var(--cor-tesoura-sombra), 0 8px 15px rgba(0,0,0,0.5);
}

.handContainer__winner {
    box-shadow: 0 4px 0 30px rgba(118,136,214,0.1),0 4px 0 60px rgba(118,136,214,0.1),0 4px 0 90px rgba(118,136,214,0.1);
    z-index:-1;
} */