.empty,
.handContainer,
.handContainer::after,
.handContainer::before,
.winner {
    border-radius: 50%;
}

.empty,
.handContainer {
    width: 10em;
    height: 10em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: auto;
    vertical-align: top;
}

.empty {
    background: rgba(0,0,0,0.1);
}

.handContainer::before {
    background-image: linear-gradient(0, var(--cor-cinza-degrade1), var(--cor-cinza-degrade2));
    box-shadow: inset 0 .375em 0 var(--cor-cinza-sombra);
    inset: 1.125em;
}

.handContainer::before,
.handContainer::after {
    content: '';
    position: absolute;
}

.handContainer::after {
    inset: 0;
}

.handContainer svg,
.handContainer img {
    z-index: 1;
}

.winner {
    box-shadow: 0 .25em 0 1.875em rgba(118,136,214,0.1), 0 .25em 0 3.75em rgba(118,136,214,0.1), 0 .25em 0 5.625em rgba(118,136,214,0.1);
    width: 10em;
    height: 10em;
    position: absolute;
    bottom: 0;
}

@media (max-width: 500px){
    .handContainer, .empty, .winner {font-size: 3.4vw;}
}