.gameover {
    font-size: 70px;
    text-transform: uppercase;
    color: #ca1123;
}

.botao {
    padding: .8rem 2rem;
    color: #FFF;
    border: solid 2px #FFF;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin: 10px auto 0 auto;
    display: block;
}

.botao:hover {
    background-color: #FFF;
    color:#000;
}